$main-background-color: #e6a6f5 !default;
$main-font-color: #252424 !default;
$background-body-color: #dbbcfa !default;
$background-header-color: #cda6f5 !default;
$background-footer-color: #e589fa !default;
$font-header-color: #0e0a0a !default;
$font-alt-color: #333 !default;
$font-color-h1: #000 !default;
$border-color: #d1cbc4 !default;
$footer-font-color: rgb(92, 76, 76) !default;
$link-color: #000 !default;
$magicnum: 1.96rem !default; //(typsnitts stl för p/brödtext * lineheight)
$box-color: #b3a6f5 !default;
$font-family-body: 'Open Sans', sans-serif !default;
$fontf-header-foot: 'Noto Sans', sans-serif !default;
$img-filter: grayscale(10%) !default;
$hover-color: rgba(0, 0, 0, 0.2) !default;
$border-alt-color: #ccc !default;
