@use 'variables' as *;

.footer {
  display: flex;
  flex-direction: row;
  padding: 1em 2em;
  justify-content: space-between;
  align-items: center;
  background-color: $background-footer-color;
  color: $footer-font-color;
}

.social 
a {
  text-decoration: none;
  font-size: 2rem;
  color: $footer-font-color;
}
