@use 'variables' as *;

body {
  line-height: 1.4;
  font-size: 14px;
  font-family: $font-family-body;
  color: $main-font-color;
}

.header
.footer {
  line-height: 1.4;
  font-family: $fontf-header-foot;
  font-style: italic;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.title {
  font-size: 1rem;
}

p {
  font-size: 1.25em;
  margin-bottom: $magicnum;
}

li {
  font-size: 1.25em;
}

@media (max-width: 920px) {
  h1 {
    font-size: 2em;
    margin-bottom: 1.75rem;
  }

  h4 {
    font-size: 1.3em;
  }
}
