$font-color: #252424;
$light-color: rgb(250, 250, 250);
$font-header-color: #333;
$font-title-color: #4a4a4a;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-body-color: #f5f3ef;
$background-header-color: #d0c2ae;
$background-footer-color: rgb(45, 45, 47);
$background-alternative-color: #e0fbfc;
$border-color: #d1cbc4;
